<!DOCTYPE html>
<html lang="fr">

<head>
  {% include 'head.html' %}
  <script type="text/javascript" src="{{url_for('static', filename='js/tableRoom.js')}}"></script>
</head>

<body>
  {% include 'nav.html' %}

  <div class="container is-max-widescreen" style="margin-top: 10%;">
    <div class="columns">
      <div class="column is-half is-desktop">
        <form action="tableau" method="post" enctype=multipart/form-data>

          <div class="file is-boxed">
            <label class="file-label">
              <input class="file-input" type="file" name="eleves" required>
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Selectionnez votre liste d'élèves...
                </span>
              </span>
            </label>
          </div>
          <br>
          <div class="control" id="submit">
            <button class="button is-success">Valider</button>
          </div>
        </form>
      </div>

      <!-- <form action="tableau" method="post" enctype=multipart/form-data>
        <label for="eleve" class="label">Entrer le nom d'un élève</label>
        <input type="text" class="input" name="eleve" id="eleve" placeholder="Nom Prénom" style="width: 40%;" />
        <br><br>
        <button class="button is-link" name="ajout" id="ajout">Ajouter</button>
        <br><br>
      </form> -->

      <div class="column is-half is-desktop">
      {%include 'generateClass.html'%}
      </div>
    </div>
  </div>

</body>

</html>
