<nav class="navbar is-success is-spaced has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title">Random Classroom</h1>
    </a>
    <a class="navbar-item" href="/normal-classroom">
      Salles de classe en rangées
    </a>
    <a class="navbar-item" href="/other-classroom">
      Autres salles de classe
    </a>
    <a class="navbar-item" href="/my-classroom">
      Mes salles de classes
    </a>
  </div>
</nav>
