<!DOCTYPE html>
<html lang="fr">

<head>
  {% include 'head.html' %}
  <script type="text/javascript" src="{{url_for('static', filename='js/tableRoom.js')}}"></script>
</head>

<body>
  {% include 'nav.html' %}

  <div class="container is-max-widescreen" style="margin-top: 10%;">
    <div class="columns">
      <div class="column is-half is-desktop">
        <form action="generate" method="post">

          <label for="table" class="label">Nombre de tables</label>
          <p class="control has-icons-left">
            <span class="select verify">
              <select name="table" id="table">
                <option value="" disabled selected>Selectionnez le nombre de tables par colonne</option>
                <option value="1">Colonnes de 1 table</option>
                <option value="2">Colonnes de 2 tables</option>
              </select>
            </span>
            <span class="icon is-small is-left">
              <i class="fa-solid fa-chair"></i>
            </span>
          </p>
          <br>

          <label for="colonne" class="label">Nombre de colonnes</label>
          <input type="number" class="input verify" name="colonne" id="colonne" placeholder="Colonnes"/>
          <br><br>

          <label for="rangee" class="label">Nombre de rangées</label>
          <input type="number" class="input verify" name="rangee" id="rangee" placeholder="Rangées"/>
          <br><br>

          <label class="checkbox">
            <input type="checkbox" id="saveRoom">
            Se souvenir de cette salle
          </label>
          <br><br>

          <div id="inputName" style="display: none;">
            <label for="roomName" class="label">Nom de la salle</label>
            <input type="text" class="input" name="roomName" id="roomName" placeholder="Salle"/>
            <br><br>
          </div>

          <div class="control" id="submit">
            <button class="button is-success" disabled>Valider</button>
          </div>
        </form>
      </div>
      <div id="classe" class="column is-half is-desktop"></div>
    </div>
  </div>

</body>

</html>
